<div class="card md-4">
  <div class="card-body bg-light">
    <img width="200" class="img-thumbnail float-right" src="http://api.angular.schule/avatar/{{book.rating}}">

    <div class="card-title">

      <h2>[{{ book.isbn }}] {{ book.title }}

        <span class="badge badge-dark">{{book.rating}}</span>

        <ng-container *ngFor="let i of [].constructor(book.rating)">🐱</ng-container>
        <!--<ng-container *brRepeat="book.rating">🐱</ng-container>-->
      </h2>

    </div>

    <p>{{ book.description }}</p>

    <button rateUpButton (click)="rateUp()" class="btn btn-secondary mr-2">+</button>
    <button rateDownButton (click)="rateDown()" class="btn btn-secondary mr-2">-</button>

    <a class="btn btn-info" [routerLink]="['/book', book.isbn]">Details</a>

  </div>
</div>
